html, body {
    font-family: 'Quicksand', sans-serif !important;
}
:root {
    --bs-body-font-family: 'Quicksand', sans-serif !important;
}
.error-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
}

.error-box {
    max-width: 800px;
    padding: 40px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.error-icon {
    width: 100px;
    height: 100px;
}

.error-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    text-align: left;
    margin-bottom:15px;
}

.error-table th {
    background-color: #0a6031;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.error-table td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
}

.error-btn {
    background-color: #0a6031 !important;
    color: white !important;
    margin-top: 20px !important;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.error-btn:hover {
    background-color: #085427 !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.error-detail {
    font-size: 14px;
    color: red;
    font-style:italic;
}